@import '../variables';

.cv-personal {
    grid-area: "personal";
    padding: $main-gap;
    background-color: #f2f2f2;
    text-align: center;
}

.cv-photo {
    width: 100%;
    margin-top: $main-gap;
    margin-bottom: $main-gap;
    border-radius: 50%;
}